menu {
  position: absolute;
  height: 100%;
  width: 240px;
  padding: 0;
  margin: 0;
  background-color: #00aaef;

  button.menu-toggle {
    position: absolute;
    top: 0;
    left: 100%;
    width: 48px;
    height: 48px;
    background-color: green;
    border: none;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-top: 60px;

    li {
      padding: 15px 30px 15px 60px;
      font-size: 1.5rem;
    }
  }
}
